.footer {
  padding-top: 3px;
  background-color: $background_main-color;
}

.footer__titel {
  font-family: $main-font-family;
  color: $text-color;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
}

.footer__titel--red {
  color: $brand-color;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: $background-color;
  background-color: $icons-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $brand-color;
  }
}

.social-media__icon {
  fill: currentColor;
}

.footer__address {
  font-family: $secondary-font-family;
  color: $main_text-color;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.02em;
}

.address__link {
  color: $brand-color;
}

.footer__copyright {
  font-family: $secondary-font-family;
  color: $discription_text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
