.gallery__background {
  background: linear-gradient(pink, 50%, white);
}
.gallery {
  min-width: 364px;
  min-height: 122px;

  margin-top: 97px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;

  background-image: url('../images/mobile/gallery_img1_mobile.png');

  background-repeat: no-repeat;
  background-position: center;
  // background-size: cover;

  // left: -18px;
}

// @media screen and (min-resolution: 2dppx) {
//   .gallery {
//     max-width: 364px;
//     max-height: 122px;

//     background-image: url('../images/mobile/gallery_img1@2x_mobile.png');
//   }
// }

// @media (min-width: 768px) {
//   .gallery {
//     max-width: 786px;
//     left: -18px;
//     background-image: url('../images/tablet/gallery_img1_tablet.png');
//   }
//   @media screen and (min-resolution: 2dppx) {
//     .gallery {
//       background-image: url('../images/tablet/gallery_img1@2x_tablet.png');
//     }
//   }
// }

// @media (min-width: 1280px) {
//   .gallery {
//     max-width: 1280px;
//     max-height: 430px;
//     padding-top: 139px;
//     padding-bottom: 120px;
//     background-image: url('../images/desktop/gallery_img1_desktop.png');
//   }
//   @media screen and (min-resolution: 2dppx) {
//     .gallery {
//       background-image: url('../images/desktop/gallery_img1@2x_desktop.png');
//     }
//   }
// }
