.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.products {
  background-color: $background-color;
  padding: 45px 0;
}

.products__title--main {
  display: block;
  font-family: $main-font-family;
  font-size: 18px;
  line-height: 1.16;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
}

.products__title--base {
  display: block;
  padding-top: 15px;
  padding-bottom: 30px;
  font-family: $main-font-family;
  font-size: 34px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $brand-color;

}

.products__title {
  font-family: $main-font-family;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $background-color;
}

.products__text {
  width: 200px;
  font-family: $secondary-font-family;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: $background-color;
 }

 .products__button {
  position: absolute;
  top: 50%;
  left: 50%;

  }

 .strawberry {
  position: relative;
  max-width: 280px;
  background: $background_header-color;
  border-radius: 24px;
 }

 .chocolate {
   position: relative;
  background: $cafe-color;
  border-radius: 24px;
 }

 .kiwi {
   position: relative;
  background: $foodtruck-color;
  border-radius: 24px;
 }

.container {
  width: 100%;
  padding: 0 15px;
}