.review {
  padding-top: 80px;
}

.review__card {
  min-height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;
  fill: #e1e1e1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-height: 164px;
    max-width: 620px;
  }

  @media screen and (min-width: 1200px) {
    max-height: 138px;
    max-width: 926px;
  }
}

.review__picture {
  margin-bottom: 30px;
}

.review__quote {
  position: absolute;
  z-index: 250;
  top: 170px;
  left: 50%;
  transform: translate(-140%, 0%);

  @media screen and (min-width: 768px) {
    left: 22%;
  }

  @media screen and (min-width: 1200px) {
    left: 15%;
    top: 180px;
  }
}

.review__card--textblock {
  display: flex;
  height: 308px;
  justify-content: center;
  padding-top: 43px;
  width: 280px;
  background-color: $reviews-color;

  @media screen and (min-width: 768px) {
    min-height: 155px;
    min-width: 620px;
  }

  @media screen and (min-width: 1200px) {
    max-height: 65px;
    min-width: 926px;
  }
}

.backlines {
  background: repeating-linear-gradient(transparent, transparent 28px, #e1e1e1 30px, #e1e1e1 30px);
  overflow: hidden;
  height: 245px;
  max-width: 180px;

  @media screen and (min-width: 768px) {
    max-height: 100px;
    max-width: 524px;
  }

  @media screen and (min-width: 1200px) {
    max-height: 65px;
    max-width: 813px;
  }
}

.review__text {
  position: relative;
  font-family: $secondary-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  z-index: 251;
  text-align: center;

  width: 157px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 3px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    width: 460px;
    line-height: 2.14;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    width: 750px;
    line-height: 1.88;
  }
}

.review__names {
  font-family: $secondary-font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
}

.read-more {
  width: 162px;
  // height: 44px;
  border-radius: 22px;
  fill: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-color: transparent;

  margin-bottom: 10px;
  margin-top: 30px;
  &:hover,
  :focus {
    fill: $brand-color-hover;
    // border-color: $brand-color-hover;
    // border-style: solid;
    // border-width: 2px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 15px;
  }
}

.review__dot {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.review__carousel {
  display: flex;
  justify-content: center;
  padding: 0;
}

.review__carousel--button {
  border-style: none;
  justify-content: center;
  fill: #d9d9d9;

  &:hover,
  :focus {
    fill: $brand-color-hover;
  }
}

.current {
  fill: $brand-color-hover;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0, 0, 0, 0.2);
  // transition-duration: 1500ms;
  // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 252;
}

.modal-close-btn {
  position: absolute;
  right: 5px;
  top: 5px;

  width: 30px;
  height: 30px;

  background: none;

  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 253;
}

.article-content {
  background-color: $reviews-color;
  padding: 30px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 700px;
  max-height: 100vh;
  overflow-y: auto;
}

// .review__article {

// }

.review-title {
  font-family: $secondary-font-family;
  font-weight: 900;
  margin-bottom: 10px;
}

.review-date {
  font-family: $secondary-font-family;
  font-weight: 900;
  color: $brand-color;
  margin-bottom: 40px;
}

.article-text {
  font-family: $secondary-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
}

.article-names {
  font-family: $secondary-font-family;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  text-align: right;
  color: $brand-color;
  font-style: italic;
  margin-top: 20px;
}

.close-svg {
  stroke: black;
}


/* Собственно сам слайдер */
.slider{
  max-width: 80%;
  position: relative;
  
  height: 300px;
  margin-bottom: 130px;
  margin: auto;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.slider .item img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


/* При наведении на кнопки добавляем фон кнопок */

.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* Заголовок слайда */
.slideText {
  position: absolute;
  color: #fff;
  font-size: 35px;
  /* Выравнивание текста по горизонтали и по вертикали*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Тень*/
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}


/* Кружочки */

.slider-dots {
text-align: center;

}
.slider-dots_item{
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: #aaa;
}


/* Анимация слайдов */

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}

@keyframes fade {
  from {
      opacity: .4
  }
  to {
      opacity: 1
  }
}