<section class="information">
 <div class="container">
    <ul class="advantages">
        <li class="advantages__list">
            <picture>
                <source srcset="../images/desktop/advantages_img1_desktop.png 1x, ../images/desktop/advantages_img1@2x_desktop.png 2x"
                    media="(min-width: 1200px)" type="image/png" />
                <source srcset="../images/tablet/advantages_img1_tablet.png 1x, ../images/tablet/advantages_img1@2x_tablet.png 2x"
                    media="(min-width: 768px)" type="image/png" />
                <source srcset="../images/mobile/advantages_img1_mobile.png 1x, ../images/mobile/advantages_img1@2x_mobile.png 2x"
                    media="(max-width: 767.98px)" type="image/png" />
                <img src="../images/mobile/advantages_img1_mobile.png" width="33" height="50"
                    alt="">
            </picture>
            <h2 class="advantages__title">721</h2>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list">
            <picture>
                <source
                    srcset="../images/desktop/advantages_img2_desktop.png 1x, ../images/desktop/advantages_img2@2x_desktop.png 2x"
                    media="(min-width: 1200px)" type="image/png" />
                <source srcset="../images/tablet/advantages_img2_tablet.png 1x, ../images/tablet/advantages_img2@2x_tablet.png 2x"
                    media="(min-width: 768px)" type="image/png" />
                <source srcset="../images/mobile/advantages_img2_mobile.png 1x, ../images/mobile/advantages_img2@2x_mobile.png 2x"
                    media="(max-width: 767.98px)" type="image/png" />
                <img src="../images/mobile/advantages_img2_mobile.png" width="50" height="50" alt="">
            </picture>
            <h2 class="advantages__title">16kg</h2>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages__list">
            <picture>
                <source
                    srcset="../images/desktop/advantages_img3_desktop.png 1x, ../images/desktop/advantages_img3@2x_desktop.png 2x"
                    media="(min-width: 1200px)" type="image/png" />
                <source srcset="../images/tablet/advantages_img3_tablet.png 1x, ../images/tablet/advantages_img3@2x_tablet.png 2x"
                    media="(min-width: 768px)" type="image/png" />
                <source srcset="../images/mobile/advantages_img3_mobile.png 1x, ../images/mobile/advantages_img3@2x_mobile.png 2x"
                    media="(max-width: 767.98px)" type="image/png" />
                <img src="../images/mobile/advantages_img3_mobile.png" width="44" height="50" alt="">
            </picture>
            <h2 class="advantages__title">84</h2>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</div>
</section>