<section class="contacts__section" id="contact">
  <div class="container">
    <h2 class="visually-hidden">Our Locations</h2>
    <div class="scroll">
      <ul class="contacts__list">
        <li class="contacts__item">
          <p class="contacts__title cafe">CAFE</p>
          <div class="contacts__discription">
            <p class="contacts__subtitle city">Chicago</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__working-time">
            <p class="contacts__subtitle">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__subtitle">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts__contact-us">
            <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </li>
        <li class="contacts__item">
          <p class="contacts__title food-truck">FOOD TRUCK</p>
          <div class="contacts__discription">
            <p class="contacts__subtitle city">Los Angeles</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__working-time">
            <p class="contacts__subtitle">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__subtitle">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts__contact-us">
            <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </li>
        <li class="contacts__item">
          <p class="contacts__title cafe">CAFE</p>
          <div class="contacts__discription">
            <p class="contacts__subtitle city">New York</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="contacts__working-time">
            <p class="contacts__subtitle">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
            <p class="contacts__subtitle">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </div>
          <div class="contacts__contact-us">
            <a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a>
            <a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </li>
      </ul>
      <div class="map">
        <div class="map-item" id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
          <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
          <script>
            (function () {
              var setting = {
                height: 540,
                width: 723,
                zoom: 9,
                queryString: 'Los Angeles, Калифорния, США',
                place_id: 'ChIJE9on3F3HwoAR9AhGJW_fL-I',
                satellite: false,
                centerCoord: [33.96413565619264, -118.57791306321168],
                cid: '0xe22fdf6f254608f4',
                lang: 'ru',
                cityUrl: '/us/ca/malibu-8192',
                cityAnchorText: 'Карта [CITY1], Калифорния, США',
                id: 'map-9cd199b9cc5410cd3b1ad21cab2e54d3',
                embed_id: '520766',
              };
              var d = document;
              var s = d.createElement('script');
              s.src = 'https://1map.com/js/script-for-user.js?embed_id=520766';
              s.async = true;
              s.onload = function (e) {
                window.OneMap.initMap(setting);
              };
              var to = d.getElementsByTagName('script')[0];
              to.parentNode.insertBefore(s, to);
            })();
          </script>
          <a href="https://1map.com/ru/map-embed">1 Map</a>
        </div>
      </div>
    </div>
    <div class="contacts__buttons">
      <button class="contacts__btn contacts__btn--current" type="button">
        <span class="contacts__btn-label">Our Locations</span>

        <svg class="contacts__svg contacts__svg--current">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
      <button class="contacts__btn" type="button">
        <span class="contacts__btn-label">Franchise</span>

        <svg class="contacts__svg">
          <use href="./images/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
