<section id="gallery" class="gallery">
  <div class="container gallery__box">
    <h2 class="is-hidden">Gallery</h2>

    <a class="gallery__item gallery__item-padding-first" href=""
      ><img src="./images/test/1.png" width="100" height="100" alt="ice-cream"
    /></a>
    <div class="gallery__item gallery__item-padding-second">
      <a href=""><img src="./images/test/2.png" width="100" height="100" alt="ice-cream" /></a>
      <a href=""><img src="./images/test/3.png" width="100" height="100" alt="ice-cream" /></a>
    </div>
    <div class="gallery__item gallery__item-padding-third">
      <a href=""><img src="./images/test/4.png" width="200" height="200" alt="ice-cream" /></a>
      <a class="gallery__item-under-big" href=""
        ><img src="./images/test/5.png" width="100" height="100" alt="ice-cream"
      /></a>
    </div>
    <div class="gallery__item gallery__item-padding-fourth">
      <a href=""><img src="./images/test/6.png" width="100" height="100" alt="ice-cream" /></a>
      <a href=""><img src="./images/test/7.png" width="100" height="100" alt="ice-cream" /></a>
    </div>
    <div class="gallery__item gallery__item-padding-fifth">
      <a href=""><img src="./images/test/8.png" width="100" height="100" alt="ice-cream" /></a>

      <a href=""><img src="./images/test/9.png" width="100" height="100" alt="ice-cream" /></a>
    </div>
    <a class="gallery__item gallery__item-padding-sixth" href=""
      ><img src="./images/test/10.png" width="100" height="100" alt="ice-cream"
    /></a>

    <!-- <picture>
      <source
        srcset="
        ./images/mobile/gallery_img1_mobile.png 1x, 
        ./images/mobile/gallery_img1@2x_mobile.png 2x "
        media="(max-width: 767px)"
        type="image/jpeg"
      />
      <img src="./images/mobile/gallery_img1_mobile.png" alt="gallery" />
  </picture> -->
  </div>
</section>
