<section id="gallery" class="gallery">
  <div class="container rhomb">
    <h2 class="is-hidden">Gallery</h2>
    <a href="#big-image"><img src="../images/Новая папка/1.png" alt="" /></a>
    <a href="#big-image"><img src="../images/Новая папка/2.png" alt="" /></a>
    <a href="#big-image"><img src="../images/Новая папка/3.png" alt="" /></a>
    <a href="#big-image"><img src="../images/Новая папка/4.png" alt="" /></a>
    <a href="#big-image"><img src="../images/Новая папка/5.png" alt="" /></a>
    <a href="#big-image"><img src="../images/Новая папка/6.png" alt="" /></a>
    <a href="#big-image"><img src="../images/Новая папка/7.png" alt="" /></a>
    <a href="#big-image"><img src="../images/Новая папка/8.png" alt="" /></a>
    <a href="#big-image"><img src="../images/Новая папка/9.png" alt="" /></a>
    <a href="#big-image"><img src="../images/Новая папка/10.png" alt="" /></a>
    <!-- <picture>
      <source
        srcset="
        ./images/mobile/gallery_img1_mobile.png 1x, 
        ./images/mobile/gallery_img1@2x_mobile.png 2x "
        media="(max-width: 767px)"
        type="image/jpeg"
      />
      <img src="./images/mobile/gallery_img1_mobile.png" alt="gallery" />
  </picture> -->
  </div>
</section>
