<header class="header">
    
    <a href="" class="header__logo">LOGO<svg class="header__logo__icon"><use></use></svg></a>
    
    <button type="button" class="header__mobile-menu__button"><svg><use></use></svg></button>    
    
    <div class="hero">
        <p class="hero__text-white">ice cream</p>
        <p class="hero__text-white">made with</p>
        <p class="hero__text-red">passion</p>
    </div>
    
    <ul class="hero__list">
        <li><a href="" class="hero__link-1">Products</a></li>
        <li><a href="" class="hero__link-2">How it’s made?</a></li>
    </ul>
    
    <div class="mobile-menu">
        <button type="button" class="mobile-menu__btn-close"><svg><use></use></svg></button>
        <button type="button" class="mobile-menu__btn-buy">Buy now</button>
        <nav>
            <ul class="nav__list">
                <li><a href="" class="nav__item--red">Home</a></li>
                <li><a href="" class="nav__item">About us</a></li>
                <li><a href="" class="nav__item">How it’s made?</a></li>
                <li><a href="" class="nav__item">Our products</a></li>
                <li><a href="" class="nav__item">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>
