<section class="products">
  <div class="container">
    <h2>100% natural products</h2>
    <div class="flex-container">
      <div>
        <h3>Ice cream</h3>
        <img src="./images/mobile/products_img1_mobile.png" alt="strawberry"/>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, aperiam consequatur. Explicabo at modi quae dolorum reiciendis. Eaque reprehenderit laboriosam asperiores, maxime incidunt eius architecto modi exercitationem quae quod? Sit.</p>
      <button>start</button>

      </div>
      <div>
        <h3>title2</h3>
        <img src="./images/mobile/products_img2_mobile.png" alt="strawberry"/>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, aperiam consequatur. Explicabo at modi quae dolorum reiciendis. Eaque reprehenderit laboriosam asperiores, maxime incidunt eius architecto modi exercitationem quae quod? Sit.</p>
      <button>start</button>

      </div>
      <div>
        <h3>title3</h3>
        <img src="./images/mobile/products_img3_mobile.png" alt="strawberry"/>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, aperiam consequatur. Explicabo at modi quae dolorum reiciendis. Eaque reprehenderit laboriosam asperiores, maxime incidunt eius architecto modi exercitationem quae quod? Sit.</p>
      <button>start</button>

      </div>
    </div>
  </div>
</section>