<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <!-- Product -->
  <section class="products">
    <div class="container">
      <h2>100% natural products</h2>
      <div class="flex-container">
        <div>
          <h3>title1</h3>
          <img src="images/strawberry-1x.png" alt="strawberry"/>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, aperiam consequatur. Explicabo at modi quae dolorum reiciendis. Eaque reprehenderit laboriosam asperiores, maxime incidunt eius architecto modi exercitationem quae quod? Sit.</p>
        <button>start</button>
  
        </div>
        <div>
          <h3>title2</h3>
        <!-- <img src="img/strawberry.jpg" alt="strawberry"/> -->
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, aperiam consequatur. Explicabo at modi quae dolorum reiciendis. Eaque reprehenderit laboriosam asperiores, maxime incidunt eius architecto modi exercitationem quae quod? Sit.</p>
        <button>start</button>
  
        </div>
        <div>
          <h3>title3</h3>
        <!-- <img src="img/strawberry.jpg" alt="strawberry"/> -->
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, aperiam consequatur. Explicabo at modi quae dolorum reiciendis. Eaque reprehenderit laboriosam asperiores, maxime incidunt eius architecto modi exercitationem quae quod? Sit.</p>
        <button>start</button>
  
        </div>
      </div>
    </div>
  </section>
  
</body>
</html>