<section id="products" class="products">
  <div class="container">
    <label class="products__title--main">100% natural</label> <h2 class="products__title--base">products</h2>
    <div class="flex-container">
      <div class="strawberry">
        <h3 class="products__title">ice cream</h3>
        <img class="products__group" src="./images/mobile/group1_mobile.png" alt=""/>
         <picture>
        <source
          srcset="
            ./images/mobile/products_img1_mobile.png   1x,
            ./images/mobile/products_img1@2x_mobile.png 2x
          "
          media="(min-width: 320px)"
          type="image/png"
        />
        <img class="products__img" src="./images/mobile/products_img1_mobile.png" alt="мороженое"/>
      </picture>
        
      <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
      <button type="button" class="products__button">
        <svg class="products__button--icon">
          <use href="./images/symbol-defs.svg#icon-products"></use>
        </svg>
      </button>

      </div>
      <div class="chocolate">
        <h3 class="products__title">ice coffee</h3>
        <img class="products__group" src="./images/mobile/group1_mobile.png" alt=""/>
        <picture>
          <source
            srcset="
              ./images/mobile/products_img2_mobile.png   1x,
              ./images/mobile/products_img2@2x_mobile.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img class="products__img" src="./images/mobile/products_img2_mobile.png" alt="кофе со льдом"/>
        </picture>
      <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
      <button type="button" class="products__button">
        <svg class="products__button--icon">
          <use href="./images/symbol-defs.svg#icon-products"></use>
        </svg>
      </button>
      </div>
      <div class="kiwi">
        <h3 class="products__title">milkshakes</h3>
        <img class="products__group" src="./images/mobile/group1_mobile.png" alt=""/>
        <picture>
          <source
            srcset="
              ./images/mobile/products_img3_mobile.png   1x,
              ./images/mobile/products_img3@2x_mobile.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <img class="products__img" src="./images/mobile/products_img3_mobile.png" alt="молочные шейки"/>
        </picture>
      <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
      <button type="button" class="products__button">
        <svg class="products__button--icon">
          <use href="./images/symbol-defs.svg#icon-products"></use>
        </svg>
      </button>

      </div>
    </div>
  </div>
</section>