<section id="products" class="products">
  <div class="container">
    <label class="products__title--main">100% natural</label>
    <h2 class="products__title--base">products</h2>
    <ul class="flex-container list">
      <li class="flex-container__list-item">
        <div class="strawberry">
          <h3 class="products__title">ice cream</h3>
          <!-- <div class="carousel-wrapper">
            <div class="carousel-item item-1">
             
            </div>
            <div class="carousel-item item-2">
              2
            </div>
            <div class="carousel-item item-3">
              3
            </div>
            
          </div>
          <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
          <button type="button" class="products__button">
            <svg class="products__button--icon">
              <use href="./images/symbol-defs.svg#icon-products"></use>
            </svg>
          </button> -->
          <div class="slideshow-container">
            <div class="mySlides">
              <p class="products__text">
                1 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et. dolore magna aliqua facilisis.
              </p>
            </div>

            <div class="mySlides">
              <p class="products__text">
                Calories: 348 Kcal
                Carbohydrates: 76; 
                Protein: 12 g;
                Fat: 0.2 g;
              </p>
            </div>

            <div class="mySlides">
              <p class="products__text">
                Off sale: -20%;
              </p>
              <img src="images/mobile/logo_img1_mobile.png" alt="logo">
            </div>
          </div>

          <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
          <button class="products__button" onclick="plusSlides(1)">
            <svg class="products__button--icon">
              <use href="./images/symbol-defs.svg#icon-products"></use>
            </svg>
          </button>
        </div>
        
      </li>
      <li class="flex-container__list-item">
        <div class="chocolate">
          <h3 class="products__title">ice coffee</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__button">
            <svg class="products__button--icon">
              <use href="./images/symbol-defs.svg#icon-products"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="flex-container__list-item">
        <div class="kiwi">
          <h3 class="products__title">milkshakes</h3>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__button">
            <svg class="products__button--icon">
              <use href="./images/symbol-defs.svg#icon-products"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>