<section class="review">
    <div class="container">
        <h2 class="is-hidden">Our reviews</h2>
        <!-- Card 1. Emily -->
        <div class="review__card">

            <picture class="review__picture">
                <source
                  srcset="
                  ./images/mobile/reviews_img1_mobile.jpg 1x, 
                  ./images/mobile/reviews_img1@2x_mobile.jpg 2x "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <img src="./images/mobile/reviews_img1_mobile.jpg" width="85" alt="client" />
            </picture>

            <svg  class="review__quote" width="54px" height="40px">
                <use href="./images/symbol-defs.svg#quote"></use>
            </svg>

            <div class="review__card--textblock">
                <p class="review__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>


                <svg  class="review__line-1" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-2" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-3" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-4" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-5" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-6" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-7" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-8" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

            </div>

            <button class="read-more" type="button">
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
            </button>

            <p>Emily, Los Angeles</p>
        </div>  
        <!-- Card 2. Gina -->
        <div class="review__card">

            <picture class="review__picture">
                <source
                  srcset="
                  ./images/mobile/reviews_img2_mobile.jpg 1x, 
                  ./images/mobile/reviews_img2@2x_mobile.jpg 2x "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <img src="./images/mobile/reviews_img2_mobile.jpg" width="85" alt="client" />
            </picture>

            <svg  class="review__quote" width="54px" height="40px">
                <use href="./images/symbol-defs.svg#quote"></use>
            </svg>

            <div class="review__card--textblock">
                <p class="review__text">Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>


                <svg  class="review__line-1" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-2" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-3" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-4" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-5" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-6" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-7" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-8" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>


            </div>

            <button class="read-more" type="button">
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
            </button>

            <p>Gina, Chicago</p>
        </div>          

        <!-- Card 3. Mia -->
        <div class="review__card">

            <picture class="review__picture">
                <source
                  srcset="
                  ./images/mobile/reviews_img3_mobile.jpg 1x, 
                  ./images/mobile/reviews_img3@2x_mobile.jpg 2x "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <img src="./images/mobile/reviews_img3_mobile.jpg" width="85" alt="client" />
            </picture>

            <svg  class="review__quote" width="54px" height="40px">
                <use href="./images/symbol-defs.svg#quote"></use>
            </svg>

            <div class="review__card--textblock">
                <p class="review__text">Lorem ipsum primis in nibh vel risus. Quisque cursus et, porttitor risus. 
                </p>

                <svg  class="review__line-1" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-2" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-3" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-4" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-5" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-6" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-7" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>

                <svg  class="review__line-8" width="180px" height="2px">
                    <use href="./images/symbol-defs.svg#line"></use>
                </svg>


            </div>

            <button class="read-more" type="button">
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
                <svg  class="review__dot" width="4px" height="4px">
                    <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                </svg>
            </button>

            <p>Mia, New York</p>
        </div>          


        <ul class="review__carousel">
            <li>
                <button class="review__carousel--button" type="button">
                    <svg width="12px" height="12px">
                        <use href="./images/symbol-defs.svg#icon-home"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="review__carousel--button" type="button">
                    <svg width="12px" height="12px">
                        <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="review__carousel--button" type="button">
                    <svg width="12px" height="12px">
                        <use href="./images/symbol-defs.svg#icon-ellipse"></use>
                    </svg>
                </button>
            </li> 
        </ul>  
    </div>    
</section>