<section class="review">
    <div class="container">
        <!-- Card 1. Emily -->
        <div class="review__card">

            <picture>
                <source
                  srcset="
                  ./images/mobile/reviews_img1_mobile.jpg 1x, 
                  ./images/mobile/reviews_img1@2x_mobile.jpg 2x "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <img src="./images/mobile/reviews_img1_mobile.jpg" width="85" alt="client" />
            </picture>

            <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <svg>
                <use href="./images/symbol-defs.svg#icon-home">.</use>
                <use href="./images/symbol-defs.svg#icon-ellipse">.</use>
                <use href="./images/symbol-defs.svg#icon-ellipse">.</use>
            </svg>

            <p>Emily, Los Angeles</p>
        </div>  
        <!-- Card 2. Gina -->
        <div class="review__card">

            <picture>
                <source
                  srcset="
                  ./images/mobile/reviews_img2_mobile.jpg 1x, 
                  ./images/mobile/reviews_img2@2x_mobile.jpg 2x "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <img src="./images/mobile/reviews_img2_mobile.jpg" width="85" alt="client" />
            </picture>

            <p>Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <svg>
                <use href="./images/symbol-defs.svg#icon-home">.</use>
                <use href="./images/symbol-defs.svg#icon-ellipse">.</use>
                <use href="./images/symbol-defs.svg#icon-ellipse">.</use>
            </svg>

            <p>Gina, Chicago</p>
        </div>          

        <!-- Card 3. Mia -->
        <div class="review__card">

            <picture>
                <source
                  srcset="
                  ./images/mobile/reviews_img3_mobile.jpg 1x, 
                  ./images/mobile/reviews_img3@2x_mobile.jpg 2x "
                  media="(max-width: 767px)"
                  type="image/jpeg"
                />
                <img src="./images/mobile/reviews_img3_mobile.jpg" width="85" alt="client" />
            </picture>

            <p>Lorem ipsum primis in nibh vel risus. Quisque cursus et, porttitor risus. 
            </p>

            <svg>
                <use href="./images/symbol-defs.svg#icon-home">.</use>
                <use href="./images/symbol-defs.svg#icon-ellipse">.</use>
                <use href="./images/symbol-defs.svg#icon-ellipse">.</use>
            </svg>

            <p>Mia, New York</p>
        </div>          


        <ul class="review__carousel">
            <li>
                <button type="button">
                    <svg>
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button">
                    <svg>
                        <use href=""></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button">
                    <svg>
                        <use href=""></use>
                    </svg>
                </button>
            </li> 
        </ul>  
    </div>    
</section>