<section class="review">
    <div class="container">
        <div class="review__card">
            <img src="" width="85" alt="client" />

            <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>

            <svg>
                <use href="">.</use>
                <use href="">.</use>
                <use href="">.</use>
            </svg>

            <p>Emily, Los Angeles</p>
        </div>  

        <ul class="review__carousel">
            <li>
                <button type="button">
                    <svg>
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button">
                    <svg>
                        <use href=""></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button">
                    <svg>
                        <use href=""></use>
                    </svg>
                </button>
            </li> 
        </ul>  
    </div>    
</section>